---
import { navBarConfig } from '../../config'
import { Icon } from 'astro-icon/components'
import IconButton from '../Buttons/IconButton.astro'
import Drawer from '../Drawer/Drawer.astro'

const pathname = new URL(Astro.request.url).pathname
const currentPath = pathname.slice(1) // remove the first "/"

function isActiveLink(url: string) {
  return currentPath.startsWith(url.slice(1))
}
---

<nav class="ml-auto max-sm:hidden flex gap-8">
  {
    navBarConfig.links.map((link) => {
      return (
        <>
          {/* Avoid adding a space before the file name */}
          {/* prettier-ignore */}
          <a class:list={[
              isActiveLink(link.url) && 'font-bold underline',
              'hover:text-secondary transition-all',
            ]} href={link.url} target={link.target}>{link.name}</a>
        </>
      )
    })
  }
</nav>

<IconButton
  id="trigger-nav-drawer"
  class="ml-auto hidden max-sm:flex relative group"
>
  <span class="sr-only">Menu</span>
  <Icon class="w-6 h-6 m-auto" name="material-symbols:menu-rounded" />
</IconButton>

<Drawer id="nav-drawer">
  <nav>
    <ul>
      {
        navBarConfig.links.map((link) => {
          return (
            <li class="mb-4 border-b border-gray-300 dark:border-gray-700">
              <a
                class:list={[
                  isActiveLink(link.url) && 'font-bold underline',
                  'flex items-center py-2 hover:bg-hover transition-all',
                ]}
                href={link.url}
                target={link.target}
              >
                {link.name}
              </a>
            </li>
          )
        })
      }
    </ul>
  </nav>
</Drawer>

<script>
  const drawerTrigger = document.getElementById(
    'trigger-nav-drawer'
  ) as HTMLButtonElement
  const drawer = document.getElementById('nav-drawer') as HTMLDialogElement

  drawerTrigger.addEventListener('click', () => drawer.showModal())
</script>
