---
import LinkedCard from '../components/Card/LinkedCard.astro'
import PageLayout from '../layouts/PageLayout.astro'
import getTitle from '../utils/getTitle'
import { getCollection } from 'astro:content'

const projects = await getCollection('projects')
const data = projects.map(({ data }) => data)
---

<PageLayout title={getTitle('Projects')} description="Personal projects">
  <section class="section">
    <ul class="grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-4">
      {
        data.map(({ title, description, url, avatar }) => (
          <li>
            <LinkedCard
              {url}
              img={avatar}
              imgAlt={title}
              title={title}
              target="_blank"
            >
              <p title={description} class="line-clamp-3">
                {description}
              </p>
            </LinkedCard>
          </li>
        ))
      }
    </ul>
  </section>
</PageLayout>
