---
import { render } from 'astro:content'
import getTitle from '../../utils/getTitle'
import type { CollectionEntry } from 'astro:content'
import PageLayout from '../../layouts/PageLayout.astro'
import Image from '../../components/Notes/Image.astro'
import SubHeader from './SubHeader.astro'
import Tags from './Tags.astro'
import NotesAside from './NotesAside.astro'

interface Props {
  note: CollectionEntry<'notes'>
}

const { note } = Astro.props
const { data } = note
const { Content } = await render(note)
---

<PageLayout title={getTitle(data.title)} description={data.description}>
  <div class="flex items-start">
    <NotesAside {note} />

    <section data-pagefind-body>
      <article class="article base-card grow mb-4">
        <section class="flex gap-4">
          <div class="w-full">
            <h1 class="mb-2">{data.title}</h1>
            <SubHeader {data} />
          </div>

          <div class="h-auto min-w-20 ml-auto mr-4">
            <Image imgSrc={note.data.image} alt={data.title} />
          </div>
        </section>

        <Content />
      </article>

      {data.tags && <Tags tags={data.tags} />}
    </section>
  </div>
</PageLayout>

<script>
  const drawerTrigger = document.getElementById(
    'trigger-explorer-drawer'
  ) as HTMLButtonElement
  const drawer = document.getElementById('explorer-drawer') as HTMLDialogElement

  drawerTrigger.addEventListener('click', () => drawer.showModal())
</script>
