---
import { render } from 'astro:content'
import getTitle from '../../utils/getTitle'
import type { CollectionEntry } from 'astro:content'
import PageLayout from '../../layouts/PageLayout.astro'
import NoteImage from '../../components/Notes/NoteImage.astro'
import SubHeader from './SubHeader.astro'
import Tags from './Tags.astro'
import NotesAside from './NotesAside.astro'

interface Props {
  note: CollectionEntry<'notes'>
}

const { note } = Astro.props
const { data } = note
const { Content } = await render(note)
---

<PageLayout
  title={getTitle(data.title)}
  description={data.description}
  image={note.data.image}
>
  <div class="flex items-start max-w-full">
    <NotesAside {note} />

    <section data-pagefind-body class="w-full overflow-hidden">
      <article class="article base-card mb-4">
        <section class="flex gap-4 border-b-secondary border-b">
          <div class="w-full relative">
            <h1 class="mb-2">{data.title}</h1>
            <SubHeader {data} />
          </div>

          <div class="h-auto min-w-20 ml-auto mb-4 mr-4">
            <NoteImage
              imgSrc={note.data.image}
              alt={data.title}
              class="not-prose rounded-xl"
            />
          </div>
        </section>

        <section>
          <Content />
        </section>
      </article>

      {data.tags && data.tags.length > 0 && <Tags tags={data.tags} />}
    </section>
  </div>
</PageLayout>

<script>
  const drawerTrigger = document.getElementById(
    'trigger-explorer-drawer'
  ) as HTMLButtonElement
  const drawer = document.getElementById('explorer-drawer') as HTMLDialogElement

  drawerTrigger.addEventListener('click', () => drawer.showModal())
</script>
