---
import BaseHead from '../components/App/BaseHead.astro'
import Header from '../components/App/Header.astro'
import Footer from '../components/App/Footer.astro'
import Search from '../components/App/Search.astro'
import { siteConfig } from '../config'

interface Props {
  title?: string
  description?: string
  image?: string
}

const {
  title = [siteConfig.description, siteConfig.title].join(' | '),
  description = siteConfig.description,
  image = siteConfig.avatar,
} = Astro.props
---

<!doctype html>
<html
  class="group"
  lang={String(siteConfig.language)}
  dir={siteConfig.direction}
  data-theme="light"
>
  <head>
    <BaseHead title={title} description={description} image={image} />
    <script is:inline>
      const getTheme = () => {
        if (
          typeof localStorage !== 'undefined' &&
          localStorage.getItem('theme')
        ) {
          return localStorage.getItem('theme') ?? 'light'
        }
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          return 'dark'
        }
        return 'light'
      }

      const setTheme = (theme) => {
        if (typeof localStorage !== 'undefined') {
          localStorage.setItem('theme', theme)
        }

        document.documentElement.classList.add(theme)
        document.documentElement.dataset.theme = theme
      }

      const toggleTheme = () => {
        const theme = getTheme()
        const newTheme = theme === 'light' ? 'dark' : 'light'

        newTheme === 'light'
          ? document.documentElement.classList.replace('dark', 'light')
          : document.documentElement.classList.replace('light', 'dark')

        localStorage.setItem('theme', newTheme)
        document.documentElement.dataset.theme = newTheme
      }

      setTheme(getTheme())

      window.app = {
        getTheme,
        setTheme,
        toggleTheme,
      }
    </script>
  </head>
  <body>
    <Search />
    <Header />
    <slot />
    <Footer />
  </body>
</html>
